/* common style  */
body {
    font-family: 'Work Sans', sans-serif;
    max-width: 1920px;
    margin: 0 auto;
}

.text-primary {
    color: #0B0223;
}
.text-secondary{
color: #534C64;
}
.bg-primary{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}
.bg-secondary{
    background-color: #4EC5F7;;
}

.btn-primary{
    padding: 20px 40px;
    border: 0;
    border-radius: 45px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.short-title-text{
    font-size: 20px;
    font-weight: 500;
}
.section-heading{
    font-size: 48px;
    font-weight: 700;
}
/* header style start  */

/* nav style start  */
.nav-container {
    display: flex;
    gap: 35px;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 40px 100px;
}

.logo-container,
.menu-items,
.social-container,.sub-banner-container,.play-instantly{
    display: flex;
    align-items: center;
}

.logo-container {
    gap: 20px;
}

.logo-container img {
    width: 80px;
    height: 40px;
}

.logo-container h3 {
    margin: 0px;
    font-size: 45px;
    font-weight: 700;
}

.logo-container h2::first-letter {
  
}

.menu-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 35px;
}

.menu-items a,
.menu-items h4 {
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    margin: 0;
}

.social-container {
    gap: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
}

.social-container i {
    font-size: 30px;
}

/* nav style end  */

/* banner style start  */
.banner-container{
    padding: 0 100px;
    display: flex;
    align-items: center;
    gap: 50px;
}
.banner-container>div,.sub-banner-container>div,.play-instantly>div
{
    width: 50%;
}
.banner-description h3{
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 5px 0;
}
.banner-description h1{
    font-size: 90px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}
.banner-btn-container{
    margin-top: 40px;
    display: flex;
    gap: 25px;
}
.image-container img,.sub-banner-image img,.play-instantly-container .instanly-image{
    width: 100%;
    display: block;
}
/* banner style end */

/* sub banner section style start  */
.sub-banner-container{
    background:linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 40px 100px;
    gap: 30px;
}
.sub-banner-description,.play-instantly-description{
    text-align: right;
}
.sub-banner-description>h2{
    margin: 0;
}
.text-purpose{
    font-size: 25px;
    font-weight: 500;
}
.text-unlesh{
    font-size: 30px;
    font-weight: 700;
}


/* sub banner section style end */

/* header style end  */


/* main section style start  */
main{
    margin:100px;
}
/* funny videos section style start*/

.funny-videos-container{
    text-align: center;
}

.video-cards-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.video-card{
    cursor: pointer;
    box-sizing: border-box;
}

.video-card:hover .card-img>img{
        filter: brightness(0.50);
        border: 3px solid tomato;
        

}
.video-card:hover .play-now{
    display: block;
}

.funny-videos-container>h2{
    margin: 0;
}
.card-img{
    position: relative;
    
   
}
.card-img img{
    display: block;
    width: 100%;
    border-radius: 16px;
    border: 3px solid white;
   
}
.play-now{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.play-now i {
    font-size: 30px;
    color: tomato;
}
.play-now p{
    font-size: 20px;
    font-weight: 600;
    color: tomato;
}
.video-card>h4{
    text-align: left;
    margin-bottom: 0;

}
/* funny videos section style end*/

/* play instantly section style start  */

.play-instantly{
    margin-top: 90px;
    gap: 200px;
    
}
.play-instantly-container{
    position: relative;
}
.play-instantly-badge{
    position: absolute;
    bottom: -175px;
    left: -150px;
    height: 350px;
    width: 300px;
}
.play-instantly-description>h2{
    margin: 0;
}
.play-instantly-description>p{
    margin: 24px 0 0 0;
}


/* play instantly section style end  */

/* main section style end  */


/* media queries  */

/* for small devices start */
@media screen and (max-width:767px) {
    .nav-container,.menu-items,.sub-banner-container{
        flex-direction: column;
    }
    
    .nav-container{
        padding:40px 20px;
    }
    .banner-container{
        padding: 0 20px;
        flex-direction: column-reverse;
    }
    .banner-container>div,.sub-banner-container>div{
        width: 100%;
        text-align: center;
    }
    .banner-description h1{
        font-size: 70px;
        
    }
    .banner-btn-container{
        justify-content: center;
        gap: 10px;
    }
    .btn-primary{
        padding: 10px 20px;
    }
    .sub-banner-container{
        padding: 20px;
        margin-top: 30px;
    }
    main{
        margin: 50px 20px;
    }
    .video-cards-container{
        grid-template-columns: 1fr;
    }
}

/* for small devices end  */